:root {
    --body-bgc: white;
    --pokemon-name: hsl(204, 10%, 48%);
    --pokemon-name-hover: hsl(205, 67%, 19%);
    --pokemon-type: hsl(212, 33%, 65%);
    --border: lightgray;
    --title: hsl(0, 78%, 55%);
}

body {
    background-color: var(--body-bgc);
    min-height: 100vh;
    padding: 4rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    font-size: 16px;
    transition: 0.2s;
}

body.dark-mode {
    --body-bgc: hsl(240, 3%, 7%);
    --pokemon-name: hsl(200, 6%, 80%);
    --pokemon-name-hover: hsl(0, 0%, 100%);
    --pokemon-type: hsl(212, 5%, 60%);
    --border: hsl(212, 7%, 15%);
    --title: hsl(0, 100%, 73%);
}

header {
    display: grid;
    gap: 1rem;
}

h1 {
    color: var(--title);
    transition: 0.2s;
}

h1 {
    display: flex;
    align-items: center;
    gap: 1rem;
}

h1 button {
    background-color: var(--border);
    padding: 0.5rem;
    border-radius: 50%;
    border: 0;
    transition: 0.2s;
}

h1 button:hover {
    transform: translateY(-0.2rem);
    background-color: var(--pokemon-type);
    cursor: pointer;
}

hr {
    height: 2px;
    width: 30%;
    border: 0;
    background-color: var(--border);
}

#loader {
    display: none;
    color: gray;
}

#pokemons-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
    gap: 0.7rem;
}

li {
    list-style: none;
    padding: 1rem;
    border: 1px solid var(--border);
    border-radius: 4px;
    transition: 0.2s;
    display: grid;
    place-items: center;
    gap: 0.5rem;
}

li p {
    color: var(--pokemon-type);
    font-size: 0.9em;
}

.name {
    font-weight: bold;
    font-size: 1.1em;
    color: var(--pokemon-name);
    transition: 0.2s;
}

li img {
    height: 100px;
}

li:hover {
    background-color: var(--border);
    cursor: pointer;
    transform: translateY(-0.2rem);
}

li:hover .name {
    color: var(--pokemon-name-hover);
}

/* mobile */
@media (max-width: 576px) {
    body {
        font-size: 14px;
    }

    h1 {
        flex-direction: column;
    }

    #pokemons-container {
        grid-template-columns: 1fr;
    }

    li {
        display: flex;
        justify-content: space-between;
    }

    li img {
        height: 60px;
    }
}

/* medium */
@media (max-width: 768px) {
    body {
        font-size: 15px;
    }

    header {
        width: 100%;
        justify-content: center;
        place-items: center;
        text-align: center;
    }
}
