body {
    min-height: 100vh;
    padding: 4rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

header {
    display: grid;
    gap: 1rem;
}

h1 {
    color: hsl(0, 78%, 55%);
}

hr {
    height: 2px;
    width: 30%;
    border: 0;
    background-color: lightgray;
}

#loader {
    display: none;
    color: gray;
}

#pokemons-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
    gap: 0.7rem;
}

li {
    list-style: none;
    padding: 1rem;
    border: 1px solid lightgray;
    border-radius: 4px;
    transition: 0.2s;
    display: grid;
    place-items: center;
    gap: 0.5rem;
}

li p {
    color: rgb(138, 165, 196);
    font-size: 0.9em;
}

.name {
    font-weight: bold;
    font-size: 1.1em;
    color: hsl(204, 10%, 48%);
    transition: 0.2s;
}

li img {
    height: 100px;
}

li:hover {
    background-color: lightgray;
    cursor: pointer;
    transform: translateY(-0.2rem);
}

li:hover .name {
    color: hsl(205, 67%, 19%);
}
