.move {
    list-style: none;
    padding: 1.5rem;
    border: 1px solid var(--border);
    box-shadow: -4px 4px 0px var(--border);
    /* border-radius: 4px; */
    display: grid;
    gap: 0.5rem;
    transition: 0.15s;
}

.move:hover {
    cursor: pointer;
    border-color: gray;
    box-shadow: -4px 4px 0px gray;
    transform: translateY(-4px);
}

.move:active {
    box-shadow: -4px 4px 0px gray;
    transform: translateY(4px);
    transform: translateX(-4px);
    box-shadow: none;
}

.move strong {
    padding: 0.2rem 0.4rem;
    border-radius: 2px;
}