.pokemonCard {
    list-style: none;
    padding: 1rem;
    border: 1px solid var(--border);
    border-radius: 4px;
    transition: 0.2s;
    display: grid;
    place-items: center;
    gap: 1rem;
}

.name {
    font-weight: bold;
    font-size: 1.2em;
    color: var(--pokemon-name);
    transition: 0.2s;
}

.pokemonCard:hover .name {
    color: var(--pokemon-name-hover);
}

.pokemonCard img {
    height: 100px;
}

.pokemonCard:hover {
    border-color: var(--pokemon-name);
    cursor: pointer;
    transform: translateY(-0.2rem);
}

.pokemonCard .typesContainer {
    display: flex;
    gap: 0.4rem;
    color: var(--pokemon-type);
    font-size: 0.8em;
    font-weight: bold;
}

.pokemonCard .typesContainer .type {
    min-width: 4rem;
    text-align: center;
    padding: 0.3rem;
    border-radius: 3px;
    border: 1px dashed gray;
}

@media (max-width: 576px) {
    .pokemonCard {
        display: flex;
        justify-content: space-between;
    }

    .pokemonCard img {
        height: 60px;
    }
}
