.pokemonMove {
    display: grid;
    gap: 3.2rem;
}

.pokemonMove header {
    display: grid;
    gap: 1rem;
}

.pokemonMove h1 {
    font-size: 2.5em;
}

.backButton {
    text-decoration: none;
    color: var(--border);
    border-radius: 5px;
    display: flex;
    align-items: center;
}

.backButton:hover {
    text-decoration: underline;
}

.moveInfo {
    display: grid;
    gap: 0.9rem;
}

.effect {
    border-left: 3px solid var(--border);
    padding: 0.5rem 1rem;
    transition: 0.2s;
}

.effect:hover {
    border-color: var(--pokemon-name);
    transform: translateX(0.2rem);
}

.multipleSection {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 0.9rem;
}

.moveInfoItem {
    flex: 1;
    height: 100%;
    padding: 1rem;
    border: 1px solid transparent;
    border-radius: 4px;
    display: flex;
    align-items: center;
    transition: 0.2s;
}

.moveInfoItem:hover {
    transform: translateY(-0.15rem);
}

.moveInfoItem strong {
    margin-right: 0.5rem;
    color: #333;
}

.moveInfoItem p {
    margin: 0;
}

.learnedByPokemon {
    display: grid;
    gap: 2rem;
}

@media (max-width: 640px) {
    .multipleSection {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

    .moveInfo {
        gap: 0.8rem;
    }

    .moveInfoItem {
        padding: 0.5rem;
    }
}

@media (max-width: 860px) {
    .multipleSection {
        grid-template-columns: repeat(2, 1fr);
    }
}
