.pokemon-card {
    list-style: none;
    padding: 1rem;
    border: 1px solid var(--border);
    border-radius: 4px;
    transition: 0.2s;
    display: grid;
    place-items: center;
    gap: 0.5rem;
}

.pokemon-card p {
    color: var(--pokemon-type);
    font-size: 0.9em;
}

.name {
    font-weight: bold;
    font-size: 1.1em;
    color: var(--pokemon-name);
    transition: 0.2s;
}

.pokemon-card img {
    height: 100px;
}

.pokemon-card:hover {
    border-color: var(--pokemon-name);
    cursor: pointer;
    transform: translateY(-0.2rem);
}

.pokemon-card:hover .name {
    color: var(--pokemon-name-hover);
}

@media (max-width: 576px) {
    .pokemon-card {
        display: flex;
        justify-content: space-between;
    }

    .pokemon-card img {
        height: 60px;
    }
}