.search_input_container {
    flex: 0.6;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 2px dashed var(--border);
    border-radius: 2rem;
    overflow: hidden;
}

.search_input_container input {
    background-color: transparent;
    padding: 0.5rem 1rem;
    border: none;
    outline: none;
    font-size: 0.9em;
    color: var(--pokemon-name);
}
