.statsComparator {
    width: 100%;
    margin-top: 2%;
    display: grid;
    place-items: center;
    gap: 3rem;
    color: #333;
}

.statsComparator h2 {
    text-align: center;
    font-size: 1.8rem;
    font-weight: 600;
    color: #333;
}

.statsComparator hr {
    border: 0;
    background-color: lightgray;
    height: 2px;
    width: 80%;
    margin-bottom: 2%;
}

.statsContainer {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    /* grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); */
    place-items: center;
    justify-content: center;
    gap: 1.5rem;
}

.statChart {
    width: 270px;
    height: max-content;
    text-align: center;
    padding: 1.7rem;
    border: 1px solid var(--comparator);
    border-radius: 4px;
    /* background-color: hsl(0, 0%, 98%); */
    transition: 0.2s ease-out;
}

.statChart:hover {
    background-color: hsl(200, 70%, 87%);
    transform: translateY(-0.3rem);
    /* box-shadow: -1px 1px 0px var(--border); */
}

.statChart h3 {
    margin-bottom: 10px;
    font-size: 1.3rem;
    font-weight: 500;
    color: #444;
}

.statChart canvas {
    width: 100% !important;
    height: 100% !important;
    border-radius: 8px;
}

.statValues {
    flex: 0.7;
    text-align: right;
    font-size: 14px;
    color: #555;
}
