.pokemon_info {
    padding: 2rem;
    transition: 0.2s;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.pokemon_info header {
    display: flex;
}

section {
    border: 1px dashed lightgray;
    padding: 1.7rem;
    border-radius: 4px;
    display: grid;
    gap: 1.7rem;
}

.pokemon_info h3 {
    color: var(--pokemon-name);
    font-size: 1.4rem;
    margin-bottom: 0.5rem;
    border-bottom: 2px solid var(--border);
    padding-bottom: 0.5rem;
}

.typesContainer {
    display: flex;
    gap: 0.7rem;
}

.typesContainer .type {
    padding: 0.7rem;
    border-radius: 3px;
}

.generalInfo {
    flex: 1;
}

.generalInfo .info {
    /* background-color: red; */
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.sprites {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    padding: 0;
}

.sprites img {
    width: 160px;
    height: auto;
}

.pokemon_info ul {
    color: var(--pokemon-type);
    margin: 0.5rem 0 1rem 0;
    line-height: 1.5;
}

.pokemon_info ul {
    list-style: disc;
    padding: 0;
}

.pokemon_info li {
    margin-left: 1rem;
}



@media (max-width: 768px) {
    .pokemon_info {
        padding: 1rem;
    }

    .pokemon_info h2 {
        font-size: 1.5rem;
    }

    .pokemon_info h3 {
        font-size: 1.25rem;
    }

    .pokemon_info img {
        width: 150px;
    }
    
    .mainCard .sprites img {
        width: 60px;
    }
}