:root {
    --border-color: lightgray;
}

.pokemon_info {
    padding: 2rem;
    transition: 0.2s;
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.pokemon_info header {
    display: grid;
    gap: 0.7rem;
    /* margin-bottom: 1%; */
}

.backButton {
    text-decoration: none;
    color:  var(--border);
    border-radius: 5px;
    display: flex;
    align-items: center;
}

.backButton:hover {
    text-decoration: underline;
}

.pokemon_info .pokemonHeader {
    display: flex;
    align-items: center;    
    flex-wrap: wrap;
    gap: 2rem;
}

.pokemon_info header h1 {
    font-size: 3.5em;
}

.typesContainer {
    display: flex;
    gap: 0.7rem;
}

.typesContainer .type {
    padding: 0.4rem;
    border-radius: 3px;
}

section {
    display: grid;
    gap: 1.3rem;
    color: var(--pokemon-name);
}

/* .generalInfo {
    padding: 1rem;
    border: 2px dashed var(--border);
    border-radius: 5px;
} */

.infoContainer {
    display: flex;
    gap: 0.7rem;
}

.infoContainer svg {
    font-size: 1.8em;
}

.generalInfo .info {
    width: 100%;
    padding: 0.7rem;
    border: 2px dashed var(--border);
    border-radius: 4px;
    display: flex;
    align-items: center;
    gap: 0.7rem;
}

.infoRow {
    display: flex;
    flex-direction: column;
}

.sprites {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    padding: 0;
}

.sprites img {
    width: 160px;
    height: auto;
}

.pokemon_info ul {
    color: var(--pokemon-type);
    margin: 0.5rem 0 1rem 0;
    line-height: 1.5;
}

.dualSection {
    display: flex;
    justify-content: space-between;
}

/* .statsContainer {
} */

.statsContainer .flexContainer {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 0.7rem;
}

.statsContainer .stats {
    min-width: 9rem;
    padding: 1rem;
    border-radius: 4px;
    border: 1px solid transparent;
    display: grid;
    gap: 0.6rem;
    text-align: center;
    transition: 0.2s;
}

.statsContainer .stats:hover {
    transform: translateY(-0.2rem);
    border-color: hsla(0, 0%, 0%, 0.6);
}

.statsContainer .stats .statName {
    color: hsla(0, 0%, 0%, 0.6);
}

.statsContainer .stats .statInfo {
    font-size: 4em;
    font-weight: bold;
    color: hsla(207, 9%, 19%, 0.75);
}

.statsContainer .stats .statBarContainer {
    height: 5px;
    width: 100%;
    background-color: hsla(0, 0%, 0%, 0.2);
    border-radius: 3px;
    overflow: hidden;
}

.statsContainer .stats .statBar {
    height: 100%;
    background-color: hsla(0, 0%, 0%, 0.6);
}

/* .generalInfo {
} */

.abilitiesContainer {
    display: flex;
    gap: 0.7rem;
}

.abilitiesContainer li {
    list-style: none;
    padding: 1rem;
    border-radius: 4px;
    background-color: var(--border);
}

.movesContainer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 0.7rem;
}

.movesContainer li {
    list-style: none;
    padding: 1.5rem;
    border: 2px dashed var(--border);
    border-radius: 3px;
    display: grid;
    gap: 0.5rem;
}

.movesContainer strong {
    padding: 0.2rem 0.4rem;
    border-radius: 2px;
}

@media (max-width: 1075px) {
    .statsContainer .flexContainer {
        grid-template-columns: repeat(3, 1fr);
    }

    .sprites img {
        width: 20%;
        height: auto;
    }
}

@media (max-width: 640px) {
    .pokemon_info header h1 {
        font-size: 2.5em;
    }

    .statsContainer .flexContainer {
        grid-template-columns: repeat(2, 1fr);
    }

    .infoContainer {
        flex-direction: column;
    }
}
