.header {
    width: 100%;
    display: grid;
    gap: 2rem;
}

.flex_container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 3rem;
}

.flex_container h1 {
    color: var(--title);
    transition: 0.2s;
    display: flex;
    align-items: center;
    gap: 1rem;
}

.flex_container h1 button {
    background-color: var(--border);
    padding: 0.5rem;
    border-radius: 50%;
    border: 0;
    transition: 0.2s;
}

.flex_container h1 button:hover {
    transform: translateY(-0.2rem);
    background-color: var(--pokemon-type);
    cursor: pointer;
}

.header hr {
    height: 2px;
    width: 100%;
    border: 0;
    background-color: var(--border);
}

input {
    width: 40%;
    background-color: transparent;
    padding: 0.5rem 1rem;
    border: 2px dashed var(--border);
    border-radius: 2rem;
    overflow: hidden;
    outline: none;
    font-size: 0.9em;
    color: var(--pokemon-name);
}
