.header {
    width: 100%;
    display: grid;
    gap: 1rem;
}

.flex_container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.flex_container h1 {
    color: var(--title);
    transition: 0.2s;
    display: flex;
    align-items: center;
    gap: 1rem;
}

.flex_container h1 button {
    background-color: var(--border);
    padding: 0.5rem;
    border-radius: 50%;
    border: 0;
    transition: 0.2s;
}

.flex_container h1 button:hover {
    transform: translateY(-0.2rem);
    background-color: var(--pokemon-type);
    cursor: pointer;
}

.header hr {
    height: 2px;
    width: 30%;
    border: 0;
    background-color: var(--border);
}