.header {
    width: 100%;
    display: grid;
    gap: 2rem;
}

.flexContainer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 3rem;
}

.flexContainer h1 {
    font-size: 2.5em;
    color: var(--title);
    transition: 0.2s;
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.flexContainer h1 img {
    height: 50px;
}

.header nav {
    display: flex;
    gap: 0.6rem;
}

.link {
    text-decoration: none;
    color: gray;
    border: 1px solid gray;
    padding: 0.2rem 0.5rem;
    border-radius: 3px;
    transition: 0.2s;
}

.link:hover {
    color: black;
    border-color: black;
}

input {
    width: 40%;
    background-color: transparent;
    padding: 0.5rem 1rem;
    border: 1px solid var(--border);
    border-radius: 5px;
    overflow: hidden;
    outline: none;
    font-size: 0.9em;
    color: var(--pokemon-name);
}

.rowContainer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
}

.rowContainer hr {
    height: 2px;
    width: 100%;
    border: 0;
    background-color: var(--border);
}

.filterBtn {
    padding: 0.8rem;
    border-radius: 50%;
    border: none;
    background: var(--title);
    color: var(--body-bgc);
    font-size: 1.2em;
    display: none;
    place-items: center;
}

@media (max-width: 792px) {
    .header {
        width: 100%;
    }

    .flexContainer {
        width: 100%;
        flex-direction: column;
        gap: 1rem;
    }

    input {
        width: 100%;
    }

    .rowContainer {
        padding: 0 1rem;
    }

    .filterBtn {
        display: grid;
    }
}
