.favorites header {
    display: grid;
    gap: 1rem;
}

.favorites h1 {
    font-size: 2.5em;
}

.backButton {
    text-decoration: none;
    color: var(--border);
    border-radius: 5px;
    display: flex;
    align-items: center;
}

.backButton:hover {
    text-decoration: underline;
}