.statsContainer .flexContainer {
    display: flex;
    flex-direction: column;
}

.statsContainer .stats {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0.6rem;
    padding: 1.7rem 0;
    border-radius: 4px;
    border: 1px solid transparent;
    transition: 0.2s;
}

/* .statsContainer .stats:hover {
    transform: translateY(-0.2rem);
    border-color: hsla(0, 0%, 0%, 0.6);
} */

.statsContainer .stats .statName {
    color: hsla(0, 0%, 0%, 0.6);
    width: 15%;
}

.statsContainer .stats .statInfo {
    font-size: 4em;
    font-weight: bold;
    color: hsla(207, 9%, 19%, 0.75);
}

.statBarContainer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
}

.statsContainer .stats .statBar {
    height: 1.6rem;
    width: 100%;
    background-color: hsla(0, 0%, 0%, 0.2);
    border-radius: 3px;
    overflow: hidden;
}

.statBarContainer span {
    font-weight: bold;
    color: hsla(0, 0%, 0%, 0.4);
    white-space: nowrap;
}

@media (max-width: 1200px) {
    .statsContainer .stats {
        flex-direction: column;
        align-items: start;
        padding: 0.4rem 0;
    }

    .statsContainer .stats .statName {
        width: 100%;
    }
}

@media (max-width: 1050px) {
    .statBarContainer {
        flex-direction: column;
        align-items: end;
    }
}
