.statsContainer .flexContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 0.7rem;
}

.statsContainer .stats {
    /* width: 100%; */
    flex: 1;
    padding: 1.7rem;
    border-radius: 4px;
    border: 1px solid transparent;
    display: grid;
    gap: 0.6rem;
    text-align: center;
    transition: 0.2s;
}

.statsContainer .stats:hover {
    transform: translateY(-0.2rem);
    border-color: hsla(0, 0%, 0%, 0.6);
}

.statsContainer .stats .statName {
    color: hsla(0, 0%, 0%, 0.6);
}

.statsContainer .stats .statInfo {
    font-size: 4em;
    font-weight: bold;
    color: hsla(207, 9%, 19%, 0.75);
}

.statsContainer .stats .statBarContainer {
    height: 5px;
    width: 100%;
    background-color: hsla(0, 0%, 0%, 0.2);
    border-radius: 3px;
    overflow: hidden;
}

.statsContainer .stats .statBar {
    height: 100%;
    background-color: hsla(0, 0%, 0%, 0.6);
}

@media (max-width: 769px) {
    .statsContainer .flexContainer {
        grid-template-columns: repeat(2, 1fr);
    }
}
