.filterContainer {
    display: grid;
    gap: 1.5rem;
}

.filterContainer .toggleButton {
    width: 7rem;
    background-color: transparent;
    padding: 0.3rem;
    border: 1px solid gray;
    border-radius: 3px;
    color: gray;
    cursor: pointer;
    transition: 0.2s;
    display: flex;
    align-items: center;
    gap: 0.4rem;
}

.toggleButton:hover {
    transform: translateY(-0.2rem);
    color: black;
    border-color: black;
}

.buttonsContainer {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    gap: 0.8rem;
}

.filter {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(5rem, 1fr));
    gap: 0.4rem;
}

.filter button {
    background-color: transparent;
    padding: 0.3rem;
    border: 1px solid var(--border);
    border-radius: 3px;
    color: var(--pokemon-name);
    cursor: pointer;
    transition: 0.2s;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.4rem;
}

.filter button:hover {
    transform: translateY(-0.2rem);
}

.filter button.active {
    border-color: var(--pokemon-name);
    transform: translateY(-0.2rem);
}
