@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap");

:root {
    --body-bgc: white;
    --pokemon-name: hsla(204, 20%, 18%, 0.9);
    --pokemon-name-hover: hsla(205, 20%, 7%, 1);
    --pokemon-type: hsla(210, 12%, 7%, 0.7);
    --border: rgba(0, 0, 0, 0.212);
    --title: hsl(205, 51%, 18%);
    --error-message: hsl(0, 100%, 76%);
    --comparator: hsl(200, 70%, 40%);
    --star: hsl(50, 100%, 50%);
    --teams: hsl(210, 100%, 56%);
    --moves: hsl(0, 90%, 50%);
    --berries: hsl(280, 68%, 71%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Space Grotesk", Arial, Helvetica, sans-serif;
}

body {
    background-color: var(--body-bgc);
    min-height: 100vh;
    padding: 5rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    font-size: 16px;
    transition: 0.2s;
    color: var(--pokemon-name);
}

#error-message {
    color: var(--error-message);
    font-weight: bold;
}

#loader {
    font-weight: bold;
    color: gray;
    animation: colorChange 2s infinite ease-in-out;
}

@keyframes colorChange {
    0% {
        color: lightgray;
    }
    50% {
        color: gray;
    }
    100% {
        color: lightgray;
    }
}

@media (max-width: 990px) {
    body {
        padding: 3rem;
        font-size: 14px;
    }
}

@media (max-width: 560px) {
    body {
        padding: 2rem;
        font-size: 12px;
    }
}
