@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap");

:root {
    --body-bgc: white;
    --pokemon-name: hsl(204, 20%, 25%);
    --pokemon-name-hover: hsl(205, 50%, 15%);
    --pokemon-type: hsl(213, 7%, 26%);
    --border: hsl(212, 5%, 75%);
    --title: hsl(5, 60%, 55%);
    --error-message: hsl(0, 100%, 76%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Space Grotesk", Arial, Helvetica, sans-serif;
}

body {
    background-color: var(--body-bgc);
    min-height: 100vh;
    padding: 5rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    font-size: 16px;
    transition: 0.2s;
}

#loader {
    color: gray;
}

#error-message {
    color: var(--error-message);
}
