#pokemonsContainer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 0.7rem;
}

.noPokemons {
    color: gray;
}

@media (max-width: 576px) {
    #pokemonsContainer {
        grid-template-columns: 1fr;
    }
}