#pokemonsContainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0.7rem;
}

.noPokemons {
    color: gray;
}

.pokemonCard {
    list-style: none;
    padding: 1rem;
    border: 1px solid var(--border);
    border-radius: 4px;
    transition: 0.2s;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    position: relative;
}

.pokemonCard:hover {
    border-color: var(--pokemon-name);
    cursor: pointer;
    transform: translateY(-0.2rem);

    .name {
        transform: translateX(0.2rem);
    }

    img {
        animation: balanco 0.2s ease-in-out;
    }
}

.pokemonCard .id {
    color: var(--pokemon-name);
    
}

.pokemonCard .nameContainer {
    display: flex;
    align-items: center;
    gap: 0.5em;
}

.pokemonCard .name {
    font-weight: bold;
    font-size: 2em;
    color: var(--pokemon-name);
    transition: 0.2s;
    margin-bottom: 1rem;
}

.pokemonCard .typesContainer {
    display: flex;
    gap: 0.4rem;
    color: var(--pokemon-type);
    font-size: 0.8em;
    font-weight: bold;
}

.pokemonCard .typesContainer .type {
    min-width: 4rem;
    text-align: center;
    padding: 0.3rem 0.8rem;
    border-radius: 3px;
    border: 1px solid hsla(210, 20%, 30%, 0.4);
    border-radius: 1rem;
    transition: 0.2s;
}

.imgContainer {
    background-color: var(--border);
    display: grid;
    place-items: center;
    border-radius: 50% 0;
    transition: 0.2s;
}

.imgContainer img {
    height: 140px;
    /* filter: drop-shadow(0 0 2rem white); */
}

@keyframes balanco {
    0% {
        transform: rotate(0deg);
    }
    25% {
        transform: rotate(-2.5deg);
    }
    50% {
        transform: rotate(0deg);
    }
    75% {
        transform: rotate(2.5deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

@media (max-width: 1380px) {
    #pokemonsContainer {
        grid-template-columns: repeat(2, 1fr);
    }

    .imgContainer img {
        height: 180px;
    }
}

@media (max-width: 890px) {
    #pokemonsContainer {
        grid-template-columns: 1fr;
    }

    .imgContainer img {
        height: 140px;
    }
}
